<template>
  <require from="./stix-visualizer.scss"></require>

  <!-- <div id="uploader"></div> -->
  <div id="canvas-container" class="hidden">
    
    <div id="canvas-wrapper">
      <svg id="canvas" element.ref="canvas"></svg>
      <p>Nodes are draggable! (Node will 'pin' on mouseup)</p>
      <p>Double-click a pinned node to unpin it!</p>
      <p>Click the 'Selected Node' area to expand/shrink it.</p>
    </div>

    <div id="legend" class="sidebar">
      <h2>Legend</h2>
      <ul id="legend-content"></ul>
    </div>

    <div id="selected" class="sidebar">
      <h2>Selected Node</h2>
      <div id="selection">
      </div>
    </div>

  </div>
</template>
